MSSQL_SA_PASSWORD=
MSSQL_DB=CommentsPlatform
SQLSERVER_HOST_PORT=1435
MSSQL_PID=Developer
CLOUDFLARE_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
CLOUDFLARE_TURNSTILE_EXPECTED_ACTION=
API_HOST_PORT=5075
FRONTEND_HOST_PORT=4200
