:host {
  display: contents;
}

.backdrop {
  align-items: center;
  background: rgb(0 0 0 / 80%);
  display: flex;
  inset: 0;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  z-index: 1000;
}

.lightbox {
  align-items: center;
  display: flex;
  justify-content: center;
  max-block-size: 100%;
  max-inline-size: 100%;
  min-block-size: 4rem;
  min-inline-size: 4rem;
  position: relative;
}

img {
  block-size: auto;
  display: block;
  max-block-size: calc(100vh - 4rem);
  max-inline-size: calc(100vw - 4rem);
  object-fit: contain;
}

img.loading {
  visibility: hidden;
}

.close-button {
  font-size: 1.75rem;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.5rem;
  line-height: 1;
  position: fixed;
  z-index: 1;
}

.status {
  color: white;
}
